.barra-superior {
    background-color: #E9EAE7;
    color: #2A2628;
    display: flex;
    justify-content: flex-end;
}

.agendamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover, 
a:active {
    text-decoration: underline;
}